/* 全局 */
.container{
    width: 1190px;
    margin: 0 auto;
}
.LF{
    float: left;
}
.RF{
    float: right;
}

/* #region topBar */ 
.topBar{
    background-color: #ECECEC ;
    height: 30px;
}
.topBar li{
    float: left;
    font-size: 12px;
}
.topBar a{
    padding: 0 10px;
    border-right:1px black  solid;
}
.topBar a:hover{
    color: rgb(196, 79, 79);
}

.topBarLeft{
    font-size: 0px;
    height: 30px;
    line-height: 30px;
}

.topBarRight{
    font-size: 0px;
    height: 30px;
    line-height: 30px;
}

.topBar li:last-child a{
    border: 0;
}
/* #endregion topBar */

/* #region header */
.header{
    height: 120px;
}

.logo img{
    width: 200px;
    height: 120px;
    float: left;
}

.search form{
    margin: 42px 0px;
    font-size: 0px;
}
.search input{
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
    vertical-align: top;
}
.search button{
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    background-image: url(../img/serch_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* #endregion topBar */

/* #region mainNav */
.mainNav{
    border-bottom:1px solid #DD302D;
    height: 48px;
    font-size: 0px;
}
.allTypes {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    font-size:20px;
    color: #FFF;
    line-height:48px;
    text-align: center;
}
.mainNavList{
    height: 48px;
    line-height: 48px;
}
.mainNavList li{
    float: left;
    font-size: 16px;
    margin:0 15px;
}
.mainNavList a{
    color: #333;
}
.mainNavList a:hover{
    color: rgb(196, 79, 79);
}
/* #endregion mainNav */

/* #region mainContent */
.mainContent{
    height: 458px;
    font-size: 0px;
    margin: 10px 0;
}

.sideNav{
    width: 190px;
    height: 458px;
    background-color: #F4F4F4;
    position: relative;
}
.sideNav li{
    font-size: 14px;
    padding-left: 16px;
    line-height: 34px;
}
.sideNav li a {
    color: #333;
}
.sideNav li:hover{
    background-color:#DD302D;
}
.sideNav li>a:hover{
    color: white;
}
.sideNav li .secondMenu{
    width: 680px;
    height: 458px;
    background-color: #ECECEC;
    position: absolute;
    padding-left: 20px;
    top:0;
    left: 190px;
    visibility: hidden;
}
.sideNav li:hover .secondMenu{
    visibility: visible;
}
.sideNav dl{
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 16px;
}
.sideNav dl:first-child{
    margin-top: 20px;
}
.sideNav dt{
    width: 70px;
    color: black;
    margin: 0 16px;
}
.sideNav dd{
    padding: 0px 10px;
    color: #666;
    border-left: 1px solid black;
}
.sideNav dd a:hover{
    color: #DD302D;
}

.mainContent .banner{
    width: 690px;
    height: 458px;
    margin: 0 10px;
}
.mainContent .banner img{
    width: 100%;
    height: 100%;
}

.sideOther{
    width: 290px;
    height: 458px;
}
.sideOther .msgList{
    width: 260px;
    height: 156px;
    padding: 0 14px;
    border: 1px solid #D9D9D9;
    font-size: 16px;
    color: #666;
}
.sideOther .msgList .title{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;
}
.sideOther .msgList span{
    font-size: 14px;
}
.sideOther .msgList a{
    font-size: 12px;
}
.sideOther .msgList li{
    height: 16px;
    line-height: 16px;
    margin: 8px 0;
}
.sideOther a:hover{
    color: #DD302D;
}
.sideOther .otherNav{
    margin-top: 10px;
    width: 290px;
    height: 290px;
    overflow: hidden;
}
.otherNavList li{
    width: 70px;
    height: 100px;
    margin: 20px 12px;
    text-align: center;
}
.otherNavList li a:hover span{
    color: #DD302D;
}
.otherNavList:first-child{
    margin-top: 5px;
}
.otherNavList img{
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}
.otherNavList span{
    width: 70px;
    height: 30px;
    font-size: 14px;
    color: #000;
}
/* #endregion mainContent */

/* #region timeLimited */
.timeLimited img{
    width: 239px;
    height: 190px;
}
.timeLimited .title{
    width: 190px;
}
.timeLimited a{
    margin-right: 11px;
}
.timeLimited a:last-child{
    margin-right: 0;
}
/* #endregion timeLimited */

/* #region floor */
.floorNav{
    height: 30px;
    margin-top: 48px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}
.floorNav .floorTitle{
    font-size: 20px;
    color: #000
}
.floorNav .floorNavList li{
    padding: 0 10px;
    color: #666;
    border-right: 1px solid #666;
}
.floorNav .floorNavList li a:hover{
    color: #DD302D;
}
.floorNav .floorNavList li:first-child{
    padding-left: 0;
}
.floorNav .floorNavList li:last-child{
    padding-right: 0;
    border: 0;
}


.floorContent{
    background-color: #E2E2E2;
}
.floorContent .item1{
    width: 190px;
    height: 392px;
    background-color: #F4F4F4;
    padding: 20px;
}
.item1 .item1List li{
    width: 90px;
    height: 22px;
    font-size: 16px;
    color: #666;
    text-align: center;
    font-size: 16px;
    padding-bottom: 3.5px;
    border-bottom: 1px solid #D9D9D9;
}
.item1List li:nth-child(3),
.item1List li:nth-child(4){
    margin: 14px 0;
}
.item1List li a:hover{
    color: #DD302D;
}
.item1 img{
    width: 194px;
    height: 242px;
    margin: 30px 0;
}

.floorContent .item2{
    width: 340px;
    height: 432px;
    background-color:rgb(239, 186, 223)
}
.item2 img{
    width: 340px;
    height: 432px;
}

.floorContent .item3{
    font-size: 0;
    width: 206px;
    height: 432px;
}
.item3 img{
    width: 206px;
    height: 215px;
    margin-bottom: 1px;
}

.floorContent .item4{
    width: 206px;
    height: 432px;
    margin: 0 1px;
}
.item4 a{
    width: 206px;
    height: 431px;
    margin-bottom: 1px;
    line-height: 431px;
}
.item4 img{
    width: 206px;
    height: 250px;
    vertical-align: middle;
}

.floorContent .item5{
    width: 206px;
    height: 432px;
    font-size: 0px;
}
.item5 img{
    width: 206px;
    height: 215px;
    margin-bottom: 1px;
}
/* #endregion floor */

/* #region footer */
.footer{
    height: 440px;
    background-color: #483E3E;
    margin-top: 48px;
    font-size: 0px;
}
.footer dl{
    width: 382px;
    height: 176px;
    font-size: 14px;
    margin-top: 48px;
}
.footer dl dt{
    font-weight: bolder;
    color: #FFF;
    margin-bottom: 16px;
}
.footer dl dd+dd{
    margin-top: 8px;
}
.footer dl+dl{
    margin-left: 22px;
}

.dividing{
    height: 1px;
    background-color: #584D4D;
    margin-top: 22px;
}

.botLinks{
    text-align: center;
}
.botLinks .botLinksList{
    display: inline-block;
    font-size: 14px;
    margin-top: 48px;
}
.botLinksList li+li::before{
    content: "|";
    margin: 0 52px;
}
.botLinks .copyright{
    height: 18px;
    color: #FFF;
    font-size: 12px;
    margin-top: 10px;
}

.footer a:hover{
    color: #DD302D;
}
/* #endregion footer */