/* 全局 */
.container{
    width: 1190px;
    margin: 0 auto;
}
.LF{
    float: left;
}
.RF{
    float: right;
}

/* #region topBar */ 
.topBar{
    background-color: #ECECEC ;
    height: 30px;
}
.topBar li{
    float: left;
    font-size: 12px;
}
.topBar a{
    padding: 0 10px;
    border-right:1px black  solid;
}
.topBar a:hover{
    color: rgb(196, 79, 79);
}

.topBarLeft{
    font-size: 0px;
    height: 30px;
    line-height: 30px;
}

.topBarRight{
    font-size: 0px;
    height: 30px;
    line-height: 30px;
}

.topBar li:last-child a{
    border: 0;
}
/* #endregion topBar */

/* #region header */
.header{
    height: 120px;
}

.logo img{
    width: 200px;
    height: 120px;
    float: left;
}

.search form{
    margin: 42px 0px;
    font-size: 0px;
}
.search input{
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
    vertical-align: top;
}
.search button{
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    background-image: url(../img/serch_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* #endregion topBar */

/* #region mainNav */
.mainNav{
    border-bottom:1px solid #DD302D;
    height: 48px;
    font-size: 0px;
}
.allTypes {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    font-size:20px;
    color: #FFF;
    line-height:48px;
    text-align: center;
}
.mainNavList{
    height: 48px;
    line-height: 48px;
}
.mainNavList li{
    float: left;
    font-size: 16px;
    margin:0 15px;
}
.mainNavList a{
    color: #333;
}
.mainNavList a:hover{
    color: rgb(196, 79, 79);
}
/* #endregion mainNav */

/* #region mainContent */
.mainContent{
    height: 458px;
    font-size: 0px;
    margin: 10px 0;
}

.sideNav{
    width: 190px;
    height: 458px;
    background-color: #F4F4F4;
}
.sideNav li{
    font-size: 14px;
    padding-left: 16px;
    line-height: 34px;
}
.sideNav li a {
    color: #333;
}
.sideNav li:hover{
    background-color:#DD302D;
}
.sideNav a:hover{
    color: white;
}

.mainContent .banner{
    width: 690px;
    height: 458px;
    margin: 0 10px;
    background-color: green;
}

.sideOther{
    width: 290px;
    height: 458px;
    background-color: blue;
}
/* #endregion mainContent */